{% extends 'base.html.twig' %}

{% block title %}Výpis článků{% endblock %}
{% block body %}
    <table>
        {% for article in articles %}
            <tr>
                <td>
                    <h2><a href="{{ path('article_detail', {'url': article.urlSlug}) }}">{{ article.headline }}</a></h2>
                    <div class="author">{{ article.author }} | {{ article.displayDate|date('d.m.Y') }}</div>
                    {{ article.introduction }}
                    <br/>
                    <a href="{{ path('article_detail', {'url': article.urlSlug}) }}">Detail</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
