<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8"/>
    <title>{% filter striptags %}{% block title %}{% endblock %}{% endfilter %}</title>
    <meta name="description" content="{% filter striptags %}{% block description %}{% endblock %}{% endfilter %}"/>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" type="text/css"/>
    {% endblock %}
</head>
<body>
<header>
    <h1>CHIP project</h1>
</header>

<nav>
    <ul>
        <li><a href="{{ path('articles') }}">Seznam článků</a></li>
        <li><a href="{{ path('show_import_form') }}">Import článků</a></li>
    </ul>
</nav>
<br clear="both"/>

<article>
    <section>
        {% for type, flash_messages in app.session.flashBag.all %}
            {% for flash_message in flash_messages %}
                <div class="message">{{ flash_message }}</div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </section>
</article>

<footer>
    CHIP project {{ date()|date('Y') }}
</footer>

{% block javascripts %}{% endblock %}
</body>
</html>
