{% extends 'base.html.twig' %}

{% block title %}{{ article.subtitle }}{% endblock %}
{% block description %}{{ article.introduction }}{% endblock %}
{% block body %}
    <h2>{{ article.headline }}</h2>
    <div class="author">{{ article.author }} | {{ article.displayDate|date('d.m.Y') }}</div>
    <div>
        {{ article.introduction }}
        {% if article.image %}
            {% set image = article.image %}
            <img src="{{ article.image.url }}" height="{{ image.height }}" width="{{ image.width }}" alt="{{ image.text }}">
            <div class="source">{{ image.source }}</div>
        {% endif %}
    </div>
    {% for chapter in article.chapters %}
        <div>
            <h3>{{ chapter.headline }}</h3>
            {% if chapter.image %}
                <img src="{{ chapter.image.url }}" height="{{ chapter.image.height }}" width="{{ chapter.image.width }}" alt="{{ chapter.image.text }}">
                <div class="source">{{ chapter.image.source }}</div>
            {% endif %}
            <p>{{ chapter.text|raw }}</p>
        </div>
    {% endfor %}
{% endblock %}
